
@{
    ViewData["Title"] = "Index";
}

@{
    PaymentModel gm = new PaymentModel();
    ViewData["url"] = gm.URL_BASE;
    ViewData["js_token"] = gm.KEY_JS;
}

<div class="formulario">
    <div  class="kr-embedded" kr-payment-button="PAGAR"  kr-popin kr-form-token="@ViewBag.token">
        <div class="kr-pan"></div>
        <div class="kr-expiry"></div>
        <div class="kr-security-code"></div>
        <!-- payment form submit button -->
        <button class="kr-popin-button"></button>
        <!-- error zone -->
        <div class="kr-form-error"></div>
    </div>
</div>
